@import "ui-variables";
.cr-alert.PASS button span {
  color: @background-color-success;
}
.cr-alert.FAIL button span {
  color: @background-color-error;
}
.cr-alert.NOTE button span {
  color: @background-color-info;
}
.cr-alert-replay {
  display: inline-block;
  margin: 0 10px;
}
