.cr {
  &-start {
    height: 100%;
    text-align: center;
    color: white;
    &-header {
      display: block;
      height: 300px;
      text-align: center;
      color: #f8f8f8;
      .title {
        color: white;
        font-size: 2em;
      }
      .tagline {
        font-size: 1.5em;
      }
    }
  }
}
