@import './Checks/_checks';
@import './Welcome/_welcome';

.cr {
  &-start {
    position: relative;
    height: 100%;
    text-align: center;
    color: white;
    &-header {
      display: block;
      height: 300px;
      text-align: center;
      color: #f8f8f8;
    }
  }
}
