// root: ../styles/tut.less
@import './menu/_menu';
@import './page/_chapter';
@import './page/_page';
@import './progress/_progress';
@import './alert/_alert';
@import './projects/_projects';
@import './app/app';

#crv {
  width: 400px;
  height: 100%;
  overflow: scroll;
}

#crv a {
  color: black;
  text-decoration: none
}
#crv a:hover {
  text-decoration: none;
}
#crv a:visited {
  text-decoration: none;
}

pre {
  margin-bottom: 10px !important;
  padding-bottom: 0;
}
