// root: ../styles/tut.less
@import './menu/_menu';
@import './page/_chapter';
@import './page/_page';
@import './progress/_progress';
@import './alert/_alert';
@import './projects/_projects';

#crv {
  width: 400px;
  height: 100%;
  overflow: scroll;
  font-family: @font-family;
  font-size: @font-size;
}

pre {
  margin-bottom: 10px !important;
  padding-bottom: 0;
}
