.cr {
  &-chapter {
    border: 2px solid red; // testing
    border-sizing: border-box;
    display: block;
    height: 33px;
    width: 100%;
    border: 1px solid #181a1f;
    border-bottom-color: #282c34;
    padding: 10px;
    text-align: center;
  }
}
