@import 'Tasks/_tasks';
@import 'Chapter/_chapter';
@import 'PageToolbar/_toolbar';
@import 'Hints/_hints';

.cr-page {
  position: relative;
  overflow-y: scroll;
  &-content {
    margin: 5px;
  }
  .listEnd {
    margin-bottom: 110px;
  }
}
