@import 'task/_task';
@import 'chapter/_chapter';

.cr-page {
  position: relative;
  overflow-y: scroll;
  &-listEnd {

  }
  &-onComplete {
    margin-bottom: 70px;
  }
  &-toolbar {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 60px;
    width: 400px;
  }
}
