#crv {
  width: 400px;
  height: 100%;
  overflow: scroll;
  font-family: @font-family;
  font-size: @font-size;
}
pre {
  margin-bottom: 10px !important;
  padding-bottom: 0;
}
@pass: rgb(115, 201, 144);
@fail: rgb(255, 64, 129);
@note: #9DA5B4;
.cr-alert.pass {
  button {
    span {
      color: @pass;
    }
  }
}
.cr-alert.fail {
  button {
    span {
      color: @fail;
    }
  }
}
.cr-alert.note {
  button {
    span {
      color: @note;
    }
  }
}
.cr-alert-replay {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
.cr {
  .cr-menu-bar {
    z-index: 999 !important;
  }
}
.cr {
  &-chapter {
    border: 2px solid red; // testing
    border-sizing: border-box;
    display: block;
    height: 33px;
    width: 100%;
    border: 1px solid #181a1f;
    border-bottom-color: #282c34;
    padding: 10px;
    text-align: center;
  }
}
.cr-page {
  position: relative;
  width: 400px;
  .isCompletedTask {
    background-color: #c8e6c9;
  }
  .isCompleteTask:hover {
    background-color: #c8e6c9;
  }
  .isCurrentTask {}
  .isDisabledTask {
    color: grey;
  }
  &-toolbar {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 400px;
  }
}
.cr-tasks {
  margin-bottom: 100px;
  .cr-task {
    padding: 10px;
    position: relative;
    &-checkbox {
      position: absolute;
      top: 15px;
    }
    &-index {
      position: absolute;
      top: 20px;
      left: 45px;
    }
    &-description {
      background-color: inherit;
      padding-top: -10px;
      padding-left: 55px;
      font-size: 14px;
      line-height: 1.6;
    }
  }
}
.cr-task-hint {
  &-index {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  &-description {
    padding-top: -10px;
    padding-left: 35px;
  }
  .cr-task-hint-box {
    div > div {
      padding: 0 10px;
    }
  }
}
.cr {
  &-progress {
    .chapter {
      margin-bottom: 0;
    }
    .chapter.isActive {
      background-color: darken(white, 10%);
    }
    .cr-page {
      padding-left: 15px;
      margin-top: 0;
    }
    .cr-page .cr-page-isDisabled {
      color: rgba(0, 0, 0, 0.5);
      background: white;
      &:hover {
        background: white;
      }
    }
  }
}
.cr {
  &-projects {
    height: 100%;
    text-align: center;
    &-header {
      display: block;
      height: 300px;
      background-color: lightblue;
      padding-top: 100px;
      .title {
        color: white;
        font-size: 2em;
      }
      .tagline {
        color: white;
        font-size: 1.5em;
      }
      .notes {
        padding-top: 10px;
        font-size: 1em;
      }
    }
  }
  &-tutorials {
    padding: 10px;
  }
}
